@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @apply bg-gray-50 dark:bg-gray-900 dark:text-gray-100;
}